/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0e100f;
    color: white;
    margin-top: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

.logo .title{
    color: #fffce1;
    margin-left: 10px;
}

.logo img{
    height: 30px;
    vertical-align: middle;
    margin-top: -5px;
    border-right: 2px solid #7c7c6f;
    padding-right: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: #7c7c6f;
    transition: all .2s;
    font-weight: bold;
    line-height: 17px;
}

.nav-list a:hover {
    color: #fffce1;
}

header hr{
    border: 1px solid #42433d;
    margin-left: 60px;
    margin-right: 60px;
}

/* Style for the subcategories dropdown */
.dropdown {
    position: relative;
}

.sub-categories {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    width: 150px;
    list-style: none;
}

.dropdown:hover .sub-categories {
    display: block;
}

.sub-categories li {
    padding: 10px;
}

/* Hamburger menu style */
.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 47px;
        margin-left: -85px;
        width: 150%;
        background-color: #0e100f;
        padding: 80px;
        z-index: 999;
        text-align: left;
        border-bottom: 2px solid #7c7c6f;
        border-bottom-left-radius: 20px !important;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list a{
        line-height: 20px;
        font-size: 21px;
        color: #fffce1;
    }

    .dropdown{
        margin-top: 20px;
    }

    .hamburger {
        color: #fffce1;
        border: 2px solid #fffce1;
        border-radius: 50px;
        padding: 8px 16px;
        display: block;
        transition: all 0.2s;
    }

    .hamburger span{
        font-size: 16px;
        font-weight: 600;
    }

    .hamburger i{
        margin-left: 10px;
        font-size: 16px;
    }

    .hamburger.clicked{
        background: #fffce1;
        color: black;
    }


    header hr{
        margin: 0;
    }
}
