body{
    background: #0e100f;
    font-family: Mori, Inter, sans-serif;
    text-align: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #fffce1 #0e100f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #0e100f;
}

*::-webkit-scrollbar-thumb {
    background-color: #fffce1;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

main {
    flex: 1;
}

section.hero{
    margin-top: 125px;
    margin-bottom: 75px;
}

h1{
    color: #fffce1;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

h2{
    margin-top: 15px;
    color: #fffce1;
}

span.name{
    color: #fff;
    text-align: center;
    transition: all 0.2s;
    font-size: 20px;
    font-weight: bold;
}

span.name i{
    margin-right: 10px;
}

div.links{
    margin-top: 25px;
}

.code{
    border: 2px solid #42433d;
    color: #ededed;
    padding: 14px 16px;
    border-radius: 15px;
    cursor: pointer;
    font-family: Space Mono, sans-serif;
}

p.tip{
    color: #7c7c6f;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 70px;
}

section.old a.button{
    color: #fffce1;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #fffce1;
    padding: 14px 54px;
    border-radius: 50px;
    transition: all .2s;
}

section.old a.button:hover{
    background: #fffce1;
    color: black;
}

footer {
    padding: 20px;
}

/* Dev by link */
p.made-by{
    color: #ababab;
    margin-top: 100px;
    font-family: Inter, sans-serif;
}

a.made-by{
    color: #ababab;
}