body{
    background: #151515;
    overflow: hidden;
    font-family: Outfit, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

div.container{
    margin-top: 125px;
    margin-bottom: 75px;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

p.name{
    color: #fff;
    text-align: center;
    transition: all 0.2s;
    font-size: 20px;
    font-weight: bold;
}

div.links{
    margin-top: 25px;
}

.code{
    background: #5b5b5b;
    color: #ededed;
    padding: 14px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-family: Consola Mono;
}



p.tip{
    color: #8f8f8f;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

a.old{
    color: #D0BCFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

a.old:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

footer {
    padding: 20px;
}

/* Dev by link */
p.made-by{
    color: #ababab;
    margin-top: 100px;
    font-family: Inter, sans-serif;
}

a.made-by{
    color: #ababab;
}